<div *ngIf="router.url.includes('registration') || router.url.includes('login')" class="flex flex-col h-screen">
  <app-global-error></app-global-error>

  <div class="flex flex-col h-screen">
    <div class="grow">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<div *ngIf="!router.url.includes('registration') && !router.url.includes('login')" class="flex flex-col h-screen">
  <app-navigation></app-navigation>

  <div class="max-w-5xl grow container mx-auto mb-5 pt-[60px]">

    <app-global-error></app-global-error>

    <router-outlet></router-outlet>

  </div>

  <app-footer></app-footer>
</div>
