<div [ngClass]="{'bg-gray-300': group.gradeNumber % 2}">
  <div class="text-center font-bold py-2">{{ group.gradeNumber + '-' + group.letter }}</div>

  <div *ngFor="let day of days">
    <div *ngFor="let lessonNumber of nums">
      <div *ngIf="hasLesson(day, lessonNumber)">

        <div *ngIf="viewState">
          <p class="w-[200px] pl-4 border border-1"
             *ngIf="isLesson1Present(day, lessonNumber) && isLesson2Present(day, lessonNumber)"
          >
            {{ (getLesson1TeacherName(day, lessonNumber) | slice:0:8)
            + ' | ' +
            (getLesson2TeacherName(day, lessonNumber) | slice: 0:8) }}
          </p>

          <p class="w-[200px] pl-4 border border-1"
             *ngIf="isLesson1Present(day, lessonNumber) && !isLesson2Present(day, lessonNumber)"
          >
            {{ getLesson1TeacherName(day, lessonNumber) | slice:0:18 }}
          </p>

          <p class="w-[200px] pl-4 border border-1" *ngIf="!isLesson1Present(day, lessonNumber)">
            {{ (getEvenLessonTeacherName(day, lessonNumber) | slice:0:8)
            + ' / ' +
            (getOddLessonTeacherName(day, lessonNumber) | slice:0:8) }}
          </p>
        </div>

        <div *ngIf="!viewState">
          <p class="w-[200px] pl-4 border border-1" *ngIf="isLesson1Present(day, lessonNumber)">
            {{ getLesson1SubjectName(day, lessonNumber) | slice:0:18 }}
          </p>

          <p class="w-[200px] pl-4 border border-1" *ngIf="!isLesson1Present(day, lessonNumber)">
            {{ (getEvenLessonSubjectName(day, lessonNumber) | slice:0:8)
            + ' / ' +
            (getOddLessonSubjectName(day, lessonNumber) | slice:0:8) }}
          </p>
        </div>

      </div>

      <div *ngIf="!hasLesson(day, lessonNumber)">
        <p class="w-[200px] pl-4 border border-1 bg-gray-400 text-center font-bold" *ngIf="isInterschoolCombine(day, lessonNumber)">МНВК</p>
        <p class="w-[200px] pl-4 border border-1 text-center" *ngIf="!isInterschoolCombine(day, lessonNumber)">-</p>
      </div>

    </div><br *ngIf="!isFriday(day)">
  </div>

</div>
