<nav class="absolute px-5 top-0 right-0 left-0 h-[50px] flex justify-between items-center text-white bg-gray-500">

  <h1 class="font-bold">Генератор шкільного розкладу</h1>

  <span>
    <a routerLink="/timetable" routerLinkActive="text-blue-700" class="mr-5">Розклад</a>
    <a routerLink="/groups" routerLinkActive="text-blue-700" class="mr-5">Класи</a>
    <a routerLink="/teachers" routerLinkActive="text-blue-700" class="mr-5">Вчителі</a>
    <a routerLink="/subjects" routerLinkActive="text-blue-700" class="mr-5">Предмети</a>
    <a routerLink="/rooms" routerLinkActive="text-blue-700" class="mr-5">Кімнати</a>
    <a routerLink="/time" routerLinkActive="text-blue-700" class="mr-5">Час</a>
    <button type="button" routerLinkActive="text-blue-700" class="mr-3 text-red-400"
            (click)="logout()"
    >Вийти</button>
  </span>

</nav>
