<nav class="absolute px-5 top-0 right-0 left-0 h-[50px] flex justify-between items-center text-white bg-gray-500">

  <h1 class="font-bold">Angular App</h1>

  <span>
    <a routerLink="/timetable" routerLinkActive="text-blue-700" class="mr-5">Timetable</a>
    <a routerLink="/groups" routerLinkActive="text-blue-700" class="mr-5">Groups</a>
    <a routerLink="/teachers" routerLinkActive="text-blue-700" class="mr-5">Teachers</a>
    <a routerLink="/subjects" routerLinkActive="text-blue-700" class="mr-5">Subjects</a>
    <a routerLink="/rooms" routerLinkActive="text-blue-700" class="mr-5">Rooms</a>
    <a routerLink="/about" routerLinkActive="text-blue-700" class="mr-5">About</a>
    <button type="button" routerLinkActive="text-blue-700" class="mr-3 text-red-400"
            (click)="logout()"
    >Logout</button>
  </span>

</nav>
