<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="mb-4 w-full">
    <input
      type="text"
      class="border w-full py-2 px-4 mb-1"
      placeholder="Назва кімнати"
      formControlName="name"
      appFocus
    >

    <p
      class="text-red-600 font-mono font-bold mb-2"
      *ngIf="roomNameExist"
    >Кімнати з такою назвою вже існує</p>

    <p
      class="text-red-600 font-mono font-bold mb-2"
      *ngIf="name.errors?.required && (name.dirty || submitButtonIsPressed)"
    >Назва не може бути пустою</p>
  </div>

  <div class="w-full mb-4">
    <div class="flex justify-end items-center">
      <input
        type="text"
        class="border w-1/12 py-2 px-2 text-center"
        placeholder="x"
        formControlName="capacity"
        maxlength="1"
      >
      <span class="italic text-lg font-bold ml-2"><mat-icon class="pt-1">people</mat-icon></span>
    </div>

    <p
      class="text-red-600 italic font-mono font-bold"
      *ngIf="(capacity.errors?.required || capacity.errors?.pattern
       || capacity.errors?.min || capacity.errors?.max)
       && (capacity.dirty || submitButtonIsPressed)"
      [align]="'end'"
    >1 - 9 <mat-icon class="pt-1">people</mat-icon></p>
  </div>

  <div class="flex justify-center items-center">
    <button
      type="submit"
      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold
       hover:text-white py-2 px-4 border border-2 border-blue-500 hover:border-transparent rounded"
    >
      Створити
    </button>

    <div class="w-4"></div>

    <button
      type="submit"
      class="bg-transparent hover:bg-red-500 text-red-700 font-semibold
       hover:text-white py-2 px-4 border border-2 border-red-500 hover:border-transparent rounded"
      (click)="modalService.closeCreateModal()"
    >
      Відмінити
    </button>
  </div>

</form>
