<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="mb-4 w-full">
    <input
      type="text"
      class="border w-full py-2 px-4 mb-1"
      placeholder="Назва кімнати"
      formControlName="name"
      maxlength="32"
      appFocus
    >

    <p
      class="text-red-600 font-mono font-bold mb-2"
      *ngIf="roomNameExist"
    >Кімната з такою назвою вже існує</p>

    <p
      class="text-red-600 font-mono font-bold mb-2"
      *ngIf="name.errors?.required && (name.dirty || submitButtonIsPressed)"
    >Назва не може бути пустою</p>
  </div>

  <div class="w-full mb-4">
    <div class="flex justify-end items-center">
      <input
        type="text"
        class="border w-1/12 py-2 px-2 text-center"
        placeholder="x"
        formControlName="capacity"
        maxlength="1"
      >
      <span class="italic text-lg font-bold ml-2"><mat-icon class="pt-1">people</mat-icon></span>
    </div>

    <p
      class="text-red-600 italic font-mono font-bold"
      *ngIf="(capacity.errors?.required || capacity.errors?.pattern
       || capacity.errors?.min || capacity.errors?.max)
       && (capacity.dirty || submitButtonIsPressed)"
      [align]="'end'"
    >1 - 9 <mat-icon class="pt-1">people</mat-icon></p>
  </div>

  <app-shared-create-cancel-buttons (buttonClick)="modalService.closeCreateModal()"></app-shared-create-cancel-buttons>

</form>
