<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="mb-4 mt-4 w-full">

    <div class="flex justify-between">
      <div>
        <input
          type="text"
          class="border w-1/6 py-2 px-2 mb-1 text-center"
          placeholder="xx"
          formControlName="gradeNumber"
          maxlength="2"
          appFocus
        >

        <span class="ml-2 mr-2">-</span>

        <input
          type="text"
          class="border w-1/6 py-2 px-2 mb-1 text-center"
          [ngClass]="{'text-red-600 border-red-600 animation-pulse': (letter.errors?.required || letter.errors?.pattern)
           && (letter.dirty || submitButtonIsPressed)}"
          placeholder="A"
          formControlName="letter"
          maxlength="1"
        >
      </div>
      <div class="flex justify-end justify-">
        <input
          type="text"
          class="border w-2/6 py-2 px-2 mb-1 text-center"
          placeholder="x"
          formControlName="shift"
          maxlength="1"
        >
        <span class="italic text-lg font-bold ml-2 py-2">зміна</span>
      </div>
    </div>

    <div class="flex justify-between">
      <div>
        <span
          class="text-red-600 italic font-mono font-bold mb-2"
          *ngIf="(gradeNumber.errors?.required || gradeNumber.errors?.pattern
      || gradeNumber.errors?.min || gradeNumber.errors?.max)
      && (gradeNumber.dirty || submitButtonIsPressed)"
        >1 - 11</span>
      </div>
      <div class="flex justify-end justify-">
        <p
          class="text-red-600 italic font-mono font-bold mb-2"
          *ngIf="(shift.errors?.required || shift.errors?.pattern
      || shift.errors?.min || shift.errors?.max)
      && (shift.dirty || submitButtonIsPressed)"
        >1 - 2 зміна</p>
      </div>
    </div>

    <p
      class="text-red-600 font-mono font-bold mt-2 mb-2"
      *ngIf="groupExist"
    >Такий клас вже існує</p>

  </div>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Оберіть класного керівника</mat-label>
    <mat-select formControlName="teacherDto">
      <mat-option *ngFor="let teacher of teacherService.freeClassTeachers | sortTeachersByName" [value]="teacher">{{ teacher.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <app-shared-create-cancel-buttons (buttonClick)="modalService.closeCreateModal()"></app-shared-create-cancel-buttons>

</form>
