<div class="py-2 flex justify-center">
  <div
    class="border border-blue-700 w-full rounded mb-2 py-4 px-6 relative hover:bg-blue-200"
  >

    <button
      class="absolute -top-1 right-1 text-red-700 font-bold text-lg"
      (click)="delete()"
    >&times;</button>

    <h2 class="text-center mb-2 font-bold">{{ teacher.name }}</h2>

    <div>
      <p class="text-sm" *ngFor="let subject of teacher.subjectDtoSet" ><mat-icon class="text-sm pt-2">label</mat-icon> {{ subject.name }}</p>
    </div>

    <p class="text-sm"><mat-icon class="text-sm pt-2">access_time</mat-icon> {{ teacher.maxHoursPerWeek }} год/тижд</p>

    <button
      class="absolute -bottom-2 right-0 text-yellow-400"
      (click)="update()"
    ><mat-icon class="text-base">edit</mat-icon></button>

  </div>
</div>
