<section class="bg-gray-50 dark:bg-gray-900 h-full w-full pt-16">
  <div class="flex flex-col items-center justify-center px-6 mx-auto">
    <div class="w-full bg-white rounded-lg shadow dark:border sm:max-w-md dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Створення нового акаунта
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="submit()">

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ваша електронна адреса</label>
            <input type="email" name="email" id="email"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600
                     focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                     dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="name@company.com" formControlName="email"
                   [ngClass]="{'border-red-600 dark:border-red-600' : email.errors?.required && (email.dirty || submitButtonIsPressed)}"
            >
            <p
              class="text-red-600 font-mono font-bold mb-2 text-sm mt-1"
              *ngIf="email.errors?.email && submitButtonIsPressed"
            >Введена адреса електронної пошти недійсна. Будь ласка, спробуйте ще раз.</p>
            <p
              class="text-red-600 font-mono font-bold mb-2 text-sm mt-1"
              *ngIf="!emailIsUnique && (email.dirty || submitButtonIsPressed)"
            >Введену вами адресу електронної пошти вже зареєстровано. Будь ласка, виберіть іншу адресу електронної пошти
              або увійдіть за допомогою існуючого облікового запису.</p>
          </div>

          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Пароль</label>
            <input type="password" name="password" id="password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600
                     focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                     dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="••••••••" formControlName="password"
                   [ngClass]="{'border-red-600 dark:border-red-600' : password.errors?.required && (password.dirty || submitButtonIsPressed)}"
            >
            <p
              class="text-red-600 font-mono font-bold mb-2 text-sm mt-1"
              *ngIf="password.errors?.pattern && (password.dirty || submitButtonIsPressed)"
            >Пароль має містити принаймні 8 символів і містити принаймні одну велику літеру, одну малу літеру та одну цифру.</p>
          </div>

          <div>
            <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Підтвердьте пароль</label>
            <input type="password" name="confirm-password" id="confirm-password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600
                     focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                     dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="••••••••" formControlName="confirmPassword"
                   [ngClass]="{'border-red-600 dark:border-red-600' : confirmPassword.errors?.required && (confirmPassword.dirty || submitButtonIsPressed)}"
            >
            <p
              class="text-red-600 font-mono font-bold mb-2 text-sm mt-1"
              *ngIf="confirmPassword.errors?.passwordMatch && (confirmPassword.dirty || submitButtonIsPressed)"
            >Введені паролі не збігаються. Будь ласка, спробуйте ще раз.</p>
          </div>

          <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create an account</button>

          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Вже є акаунт? <a routerLink="/login" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Увійти тут</a>
          </p>

        </form>
      </div>
    </div>
  </div>
</section>
