<p class="text-red-600 text-sm font-bold text-center mt-5">Робоче навантаження деяких вчителів вказано невірно. Виправте, аби мати змогу згенерувати або відкрити розклад</p>

<div class="flex items-center justify-center mt-3">
  <p class="text-center border border-2 border-black w-2/6 py-2">Ім'я</p>
  <p class="text-center border border-2 border-black w-1/6 py-2">Очікувано</p>
  <p class="text-center border border-2 border-black w-1/6 py-2">Насправді</p>
</div>

<div *ngFor="let teacherHoursInfo of teachersWithInvalidLoading" class="flex items-stretch justify-center">
  <p class="text-center border border-2 border-black w-2/6 py-2">{{ teacherHoursInfo.name }}</p>
  <p class="text-center border border-2 border-black w-1/6 py-2">{{ teacherHoursInfo.expectedHours }}</p>
  <p class="text-center border border-2 border-black w-1/6 py-2 text-red-600">{{ teacherHoursInfo.actualHours }}</p>
</div>

