<h3 class="font-bold text-center mt-3 mb-5">Вчителі</h3>

<div class="flex items-center justify-center">
  <input
    type="text"
    class="mb-5 border py-2 px-4 w-2/3"
    placeholder="Фільтрувати вчителів..."
    [(ngModel)]="term"
  >
</div>

<div
  class="text-center text-red-800 font-bold mb-3"
  *ngIf="teacherService.teachers.length == maxTeacherCount"
>
  Ви створили максимальну кількість вчителів ({{ maxTeacherCount }})
</div>

<app-shared-loader [isLoading]="loading"></app-shared-loader>

<div
  *ngIf="!loading && teacherService.teachers"
  class="grid grid-cols-3 gap-x-10"
>
  <app-teacher-block
    *ngFor="let teacher of teacherService.teachers | filterTeachers: term | sortTeachersByName"
    [teacher]="teacher"
  ></app-teacher-block>
</div>

<app-teacher-modal *ngIf="modalService.createIsVisible$ | async" title="Створити нового вчителя">
  <app-create-teacher></app-create-teacher>
</app-teacher-modal>

<app-teacher-modal *ngIf="modalService.updateIsVisible$ | async" title="Обновити вчителя">
  <app-edit-teacher></app-edit-teacher>
</app-teacher-modal>

<button
  class="rounded-full bg-red-700 text-white fixed right-5 bottom-16 py-2 px-4"
  *ngIf="teacherService.teachers.length < maxTeacherCount"
  (click)="modalService.openCreateModal()"
>+</button>
