<h3 class="font-bold text-center mt-3 mb-5">Teachers</h3>

<p class="text-center italic" *ngIf="loading">Loading...</p>

<div class="flex items-center justify-center">
  <input
    type="text"
    class="mb-5 border py-2 px-4 w-2/3"
    placeholder="Filter subjects..."
    [(ngModel)]="term"
  >
</div>

<div
  *ngIf="teacherService.teachers"
  class="grid grid-cols-3 gap-x-10"
>
  <app-teacher-block
    *ngFor="let teacher of teacherService.teachers | filterTeachers: term | sortTeachersByName"
    [teacher]="teacher"
  ></app-teacher-block>
</div>

<app-teacher-modal *ngIf="modalService.createIsVisible$ | async" title="Create new teacher">
  <app-create-teacher></app-create-teacher>
</app-teacher-modal>

<app-teacher-modal *ngIf="modalService.updateIsVisible$ | async" title="Update teacher">
  <app-edit-teacher></app-edit-teacher>
</app-teacher-modal>

<button
  class="rounded-full bg-red-700 text-white fixed right-5 bottom-16 py-2 px-4"
  (click)="modalService.openCreateModal()"
>+</button>
