<form *ngIf="isLoaded" (ngSubmit)="submit()">

  <div
    *ngIf="subjectService.subjects"
    class=""
  >
    <div *ngFor="let subject of pickedSubjects | sortSubjectsByName" class="mb-2">

      <div
        class="py-2 flex justify-center border-b border-gray-500 rounded"
        [ngClass]="{'animate-ping' : unpickedSubjects.includes(subject)}"
      >

        <div class="w-1/4 py-2">
          <h2 class="text-center font-bold">{{ subject.name }}</h2>
        </div>

        <div class="w-1/4 text-center relative">
          <input
            type="text"
            class="border w-1/4 py-2 px-2 text-center"
            placeholder="xxx"
            [formControl]="getSubjectHoursFormControl(subject)"
            maxlength="4"
          >
          <span class="italic text-lg font-bold ml-2 text-sm">год/тижд</span>

          <p
            class="text-red-600 italic font-mono font-bold mb-2 text-sm"
            *ngIf="(getSubjectHoursFormControl(subject).errors?.required || getSubjectHoursFormControl(subject).errors?.pattern
         || getSubjectHoursFormControl(subject).errors?.min || getSubjectHoursFormControl(subject).errors?.max)
         && (getSubjectHoursFormControl(subject).dirty || submitButtonIsPressed)"
          >0.5 - 10 год/тижд</p>
          <p
            class="text-red-600 italic font-mono font-bold mb-2 text-sm"
            *ngIf="(getSubjectHoursFormControl(subject).errors?.subgroupHoursIsInteger)
         && (getSubjectHoursFormControl(subject).dirty || submitButtonIsPressed)"
          >Повинне бути цілим числом, якщо 2 підгрупи</p>

          <button
            type="button"
            *ngIf="!subGroup2IsOpen(subject)"
            class="rounded-full bg-green-400 text-white absolute right-0 bottom-0 px-2 hover:animate-spin"
            (click)="addSubGroup2(subject)"
          >+</button>

          <button
            type="button"
            *ngIf="subGroup2IsOpen(subject)"
            class="rounded bg-red-600 text-white absolute right-0 bottom-0 px-2 hover:animate-spin"
            (click)="removeSubGroup2(subject)"
          >&times;</button>
        </div>

        <div class="w-2/4 grid grid-cols-2 relative">
          <div class="w-full text-center">
            <mat-form-field appearance="fill" class="w-5/6">
              <mat-label>Вчитель</mat-label>
              <mat-select [formControl]="getSubjectTeacherFormControl(subject)" [compareWith]="compareTeachers">
                <mat-option
                  *ngFor="let teacher of teacherService.teachers |
                    filterTeachersBySubject: subject |
                    addClassTeacherForPrimarySchool: group"
                  [value]="teacher">{{ teacher.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="w-full text-center">
            <mat-form-field appearance="fill" class="w-5/6">
              <mat-label>Кімната</mat-label>
              <mat-select [formControl]="getSubjectRoomFormControl(subject)" [compareWith]="compareRooms">
                <mat-option *ngFor="let room of roomService.rooms" [value]="room">{{ room.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button
            type="button"
            class="absolute -right-8 top-0 py-6 px-3 bg-transparent hover:bg-red-500
             text-red-700 font-semibold hover:text-white py-2 px-4 border border-2
              border-red-500 hover:border-transparent rounded"
            (click)="unpickSubject(subject)"
          >&times;</button>

          <div class="w-full text-center" *ngIf="subGroup2IsOpen(subject)">
            <mat-form-field appearance="fill" class="w-5/6">
              <mat-label>Вчитель</mat-label>
              <mat-select [formControl]="getSubjectTeacherSubGroup2FormControl(subject)" [compareWith]="compareTeachers">
                <mat-option
                  *ngFor="let teacher of teacherService.teachers |
                    filterTeachersBySubject: subject |
                    addClassTeacherForPrimarySchool: group"
                  [value]="teacher">{{ teacher.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="w-full text-center" *ngIf="subGroup2IsOpen(subject)">
            <mat-form-field appearance="fill" class="w-5/6">
              <mat-label>Кімната</mat-label>
              <mat-select [formControl]="getSubjectRoomSubGroup2FormControl(subject)" [compareWith]="compareRooms">
                <mat-option *ngFor="let room of roomService.rooms" [value]="room">{{ room.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="relative flex">
    <div class="w-1/3">
      <button
        class="py-6 px-3 bg-transparent hover:bg-green-500
           text-green-700 font-semibold hover:text-white py-2 px-4 border border-2
            border-green-500 hover:border-transparent rounded"
        type="button"
        [disabled]="!newSubjectFormControl.valid"
        (click)="pickSubject()"
      >+</button>

      <mat-form-field appearance="fill" class="w-4/6 ml-3 mt-2">
        <mat-label>Оберіть предмет</mat-label>
        <mat-select [formControl]="newSubjectFormControl">
          <mat-option *ngFor="let subject of unpickedSubjects" [value]="subject">{{ subject.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex w-2/3 mt-2">
      <div class="w-1/12   relative">
        <span class="">МНВК</span>
        <button
          type="button"
          *ngIf="!interschoolCombineIsPicked"
          class="rounded-full bg-green-400 text-white absolute left-1 top-7 px-2 hover:animate-spin"
          (click)="toggleInterschoolCombine()"
        >+</button>

        <button
          type="button"
          *ngIf="interschoolCombineIsPicked"
          class="rounded bg-red-600 text-white absolute left-1 top-7 px-2 hover:animate-spin"
          (click)="toggleInterschoolCombine()"
        >&times;</button>
      </div>

      <div class="w-5/6">
        <div *ngIf="interschoolCombineIsPicked" class="w-full flex">
          <div class="w-1/3 text-center">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>День</mat-label>
              <mat-select [formControl]="interschoolCombineDay">
                <mat-option *ngFor="let day of days" [value]="day">{{ translateDayToUkrainian(day) }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="w-1/3 text-center">
            <mat-form-field appearance="fill" class="w-full ml-2">
              <mat-label>Номер урока</mat-label>
              <mat-select [formControl]="interschoolCombineLessonNumber">
                <mat-option *ngFor="let lessonNumber of lessonNumbers" [value]="lessonNumber">{{ lessonNumber }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="group" class="absolute right-5 top-4 border-b-2 border-b-black">
      <mat-icon class="text-base">access_time</mat-icon>
      <span class="text-center">{{ maxHoursPerWeek.value }}</span>
      <span class="italic text-lg font-bold ml-2 text-sm">год/тижд</span>
    </div>

    <p
      *ngIf="(maxHoursPerWeek.errors?.required || maxHoursPerWeek.errors?.pattern
         || maxHoursPerWeek.errors?.min || maxHoursPerWeek.errors?.max)
         && (maxHoursPerWeek.dirty || submitButtonIsPressed)"
      class="absolute right-3 top-14 text-red-600 italic font-mono font-bold text-sm"
    >1 - 40 год/тижд</p>

  </div>

  <div class="text-center">

    <button
      type="submit"
      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold
       hover:text-white py-2 px-4 border border-2 border-blue-500 hover:border-transparent rounded"
      [ngClass]="{ 'hover:bg-yellow-500 text-yellow-600 border-yellow-500' : isCreated }"
    >{{ isCreated ? 'Обновити' : 'Зберегти' }}</button>

  </div>

</form>

<div role="status" *ngIf="!isLoaded" class="flex justify-center mt-2">
  <svg aria-hidden="true" class="w-14 h-14 mr-2 text-gray-200 animate-spin dark:text-gray-400 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
  </svg>
</div>
