<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="mb-4 w-full">
    <input
      type="text"
      class="border w-full py-2 px-4 mb-1"
      placeholder="Назва предмета"
      formControlName="name"
      maxlength="32"
      appFocus
    >

    <p
      class="text-red-600 font-mono font-bold mb-2"
      *ngIf="subjectNameExist"
    >Предмет з такою назвою вже існує</p>

    <p
      class="text-red-600 font-mono font-bold mb-2"
      *ngIf="name.errors?.required && (name.dirty || submitButtonIsPressed)"
    >Назва не може бути пустою</p>
  </div>

  <app-shared-create-cancel-buttons (buttonClick)="modalService.closeCreateModal()"></app-shared-create-cancel-buttons>

</form>
