<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="mb-4 w-full">
    <input
      type="text"
      class="border w-full py-2 px-4 mb-1"
      placeholder="Subject name"
      formControlName="name"
      appFocus
    >

    <p
      class="text-red-600 font-mono font-bold mb-2"
      *ngIf="subjectNameExist"
    >Subject with this name already exists</p>

    <p
      class="text-red-600 font-mono font-bold mb-2"
      *ngIf="name.errors?.required && (name.dirty || submitButtonIsPressed)"
    >Name of the subject can't be empty</p>
  </div>

  <div class="flex justify-center items-center">
    <button
      type="submit"
      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold
       hover:text-white py-2 px-4 border border-2 border-blue-500 hover:border-transparent rounded"
    >
      Create
    </button>

    <div class="w-4"></div>

    <button
      type="submit"
      class="bg-transparent hover:bg-red-500 text-red-700 font-semibold
       hover:text-white py-2 px-4 border border-2 border-red-500 hover:border-transparent rounded"
      (click)="modalService.closeCreateModal()"
    >
      Cancel
    </button>
  </div>

</form>
